body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(15, 15, 15);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}




.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 30px;
    

}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

#display {
    width: 98%;
    height: 100px;
    padding: 10px;
    background-color: rgb(15, 15, 15);
    border: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.377);
    margin-bottom: 5px; 
    color: white;

}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family:  Arial, Helvetica, sans-serif;
    height: 100px;
    width: 100px;
    background-color: rgb(44, 43, 43);
    color: white;
    border-radius: 50%;
    border: none;
    padding: 15px;

}


button:hover {
    cursor: pointer;
    scale: 104%;
    background-color: rgb(58, 56, 56);

}

button:active {
    font-size: 165%;
    background-color: rgb(89, 92, 90);
}

input {
    font-size: 3rem;
    font-weight: 100;
    text-align: right;
}

.green {
    color: green;
}

#C {
    color: red;
}

#eq {
    background-color: green;
    color: black;
}

